<!DOCTYPE html>
<html>

    <head>
        <title>FireGuard Pro</title>
        <link rel="icon" type="image/x-icon" href="../static/imgs/start.png">
        
        <link rel="stylesheet" type="text/css" href="../static/new_styles/styles.css">
        <link rel="stylesheet" type="text/css" href="../static/new_styles/GridStyles.css">
        <link rel="stylesheet" type="text/css" href="../static/new_styles/popup.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="../static/js/popip.js"></script>
        <script src="../static/js/localStoreExtensions.js"></script>
        <script src="../static/js/info/conditions.js"></script>
        <script src="../static/js/info/date.js"></script>
        <script src="../static/js/info/location.js"></script>
        <script src="../static/js/info/time.js"></script>
        <script src="../static/js/info/windspeed.js"></script>
    </head>


    <body>
        <div class="info-bar">

            <div class="n">
                <img src="../static/imgs/name.png" alt="Name">
            </div>

            <div class="date-time">
                <h4 id="current_time">Current Time:</h4>
                <h4 id="current_date">Current date:</h4>
            </div>
            
            <div class="geoData">
                <h4 id="current_location">Current location:</h4>
                <h4 id="conditions">Current Weather:</h4>
                <h4 id="windspeed">Wind Speed:</h4>
            </div>
        </div>

        <div class="name-bar">

            <div class="n2">
                <h4 id="Name">Dashboard</h4>
            </div>

            <div class="date-time2">
                <a href="/notifications">
                    <button id="noti" class="popup-button">
                        <i class="fa fa-bell" aria-hidden="true"></i>
                    </button>
                    <span class="noti_badge"> </span>
                </a>
                <h4 id="page-name">FireGuard Pro - Forest Defense System (FDS)</h4>
            </div>
        </div>



        <header>
            <nav>
                <div class="button-container">
                    <button id="settingsButton" class="settingsButton">Configure Zones</button>
                    <button id="helpButton" class="helpButton"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                </div>

                <div class="tablink-container">

                </div>
            </nav>
        </header>
        
        <div id="popup-window">
            <h1>FireGuard Pro - Notification System</h1>
            <div class="container-2">
                <div class="message">All Notifications Have Been Reset Successfully</div>
                <a href="/" class="popup-button-2">Back to Dashboard</a>
            </div>
        </div>

        <div class="tabcontent-container">

        </div>
        
    
        <script src="../static/js/tabButtons.js"></script>
        <script src="../static/js/zones.js"></script>
        <script src="../static/js/help.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="../static/js/graphs/temp.js"></script>
        <script src="../static/js/graphs/smoke.js"></script>
        <script src="../static/js/graphs/rain.js"></script>
        <script src="../static/js/graphs/camera.js"></script>

    </body>

</html>
